.content-title{
  @extend .col-md-12;
  @extend .m_bottom_20;
}

.nav-section,
.nav-facets{
  @extend .col-md-3;
}

.content-main{
  @extend .col-md-9;
  &.wide{
    @extend .col-md-12;
  }
  &.full-stack {
    @extend .col-md-6;
  }
}

.content-related{
  @extend .col-md-3;
}

.content-view-children .media {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.figure{
    @extend .text-center;
    img{
        @extend .center-block;    
    }
    margin: 1em 0;
}

.social-buttons{
    margin: 1em 0;
}

.nav-main .dropdown-toggle i{
    margin: 2px 0 0 4px;
}

.login-menu {
    background-color: #fff;
    width: 270px;
    z-index: 1001;
    padding: 10px;
}

.video-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}
.video-container iframe,
.video-container object,
.video-container embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.dashboard .panel {
  position: relative;
  padding-top: 40px;
  h2{
    background: $gray;
    color: #fff;
    font-size: 1.5em;
    left: 0;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    border-bottom-right-radius: $border-radius-base;
  }
}

ul.org-chart li,
ul.org-chart ul li {
  list-style:none;
  text-indent: 0;
}

ul.org-chart li:before{content: ""}

ul.org-chart ul,
ul.org-chart ul ul {
  margin:0;
  padding:0;
}

ul.org-chart li{
  margin-bottom: 20px;
}

ul.org-chart ul li {
  padding:10px 0 10px 50px;
  margin:0 0 0 50px;
}

ul.org-chart li div.vcard {
  padding:15px;
  margin:0;
  min-height: 50px;
  background:#fff;
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  a{
    color: #000;
    text-decoration: none;
  }
}

ul.org-chart ul li {
  background: url("../images/org-tree-mid.gif") no-repeat left -15px;
}

ul.org-chart ul li:last-child {
  background: url("../images/org-tree-last.gif") no-repeat left -15px;
}

.ui-datepicker {
  background-color: #fff;
  border: 1px solid #66AFE9;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(102,175,233,.6);
  display: none;
  margin-top: 4px;
  padding: 10px;
  width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
  text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
  color: #2A6496;
  -webkit-transition: color 0.1s ease-in-out;
  -moz-transition: color 0.1s ease-in-out;
  -o-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
  margin-bottom: 4px;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title {
  font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  cursor: default;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  height: 20px;
  line-height: 1;
  margin-top: 2px;
  width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
  float: left;
  text-align: left;
}
.ui-datepicker .ui-datepicker-next {
  float: right;
  text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
  content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
  content: "\e080";
}
.ui-datepicker .ui-icon {
  display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
  width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
  text-align: center;
  padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
  border-radius: 4px;
  -webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
  background-color: #eee;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
  background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
  color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
  background-color: #fff;
  cursor: default;
}

.media-body{overflow: visible}