/* -----------------------------------

	16. Footer

------------------------------------- */

#footer{
  color:#bdc3c7;
  padding:45px 0 0;
}
#footer.type_2{
  padding-top:25px;
}
.footer_top_part{
  padding-bottom:37px;
}
#footer.type_2 .foorer_top_part{
  padding-bottom:45px;
}
.footer_bottom_part{
  background:#292f38;
  padding:24px 0 22px;
  color:#696e6e;
}