@charset "UTF-8";
/* line 156, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-2 .widget_tabs h2,
#content .color.color-default-2 .widget.events h2,
#content .color.color-default-2 .panels-container .events.media h2,
.panels-container #content .color.color-default-2 .events.media h2,
#content .color.color-default-2 .leaflet-popup-content .events.media h2,
.leaflet-popup-content #content .color.color-default-2 .events.media h2 {
  background: #00803c;
  color: #ffffff;
}
/* line 163, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-2 .widget_tabs .nav-tabs li a,
#content .color.color-default-2 .widget.events .nav-tabs li a,
#content .color.color-default-2 .panels-container .events.media .nav-tabs li a,
.panels-container #content .color.color-default-2 .events.media .nav-tabs li a,
#content .color.color-default-2 .leaflet-popup-content .events.media .nav-tabs li a,
.leaflet-popup-content #content .color.color-default-2 .events.media .nav-tabs li a {
  background-color: #00803c;
  color: #ffffff;
  opacity: 0.5;
}
/* line 168, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-2 .widget_tabs .nav-tabs li a:hover,
#content .color.color-default-2 .widget.events .nav-tabs li a:hover,
#content .color.color-default-2 .panels-container .events.media .nav-tabs li a:hover,
.panels-container #content .color.color-default-2 .events.media .nav-tabs li a:hover,
#content .color.color-default-2 .leaflet-popup-content .events.media .nav-tabs li a:hover,
.leaflet-popup-content #content .color.color-default-2 .events.media .nav-tabs li a:hover {
  opacity: 1;
}
/* line 173, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-2 .widget_tabs .nav-tabs li.active a,
#content .color.color-default-2 .widget.events .nav-tabs li.active a,
#content .color.color-default-2 .panels-container .events.media .nav-tabs li.active a,
.panels-container #content .color.color-default-2 .events.media .nav-tabs li.active a,
#content .color.color-default-2 .leaflet-popup-content .events.media .nav-tabs li.active a,
.leaflet-popup-content #content .color.color-default-2 .events.media .nav-tabs li.active a {
  background-color: #00803c;
  color: #ffffff;
  opacity: 1;
}
/* line 42, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 h3.widget_title,
#content .color.color-default-3 .widget_title h3 {
  background: #006598;
  color: #ffffff;
}
/* line 47, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 h3.widget_title a,
#content .color.color-default-3 .widget_title h3 a {
  color: #ffffff;
}
/* line 53, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .owl-controls .owl-buttons .owl-next, #content .color.color-default-3 .owl-controls .owl-buttons .owl-prev {
  background: #006598;
  color: #ffffff;
}
/* line 60, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .carousel-caption {
  color: #fff;
}
/* line 62, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .carousel-caption h3 {
  background: #006598;
  color: #ffffff;
}
/* line 65, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .carousel-caption h3 a {
  color: #ffffff;
}
/* line 72, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .carousel-both-control .owl-pagination.active {
  background: #006598 !important;
}
/* line 78, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .tabs_nav .ui-tabs-active a, #content .color.color-default-3 .widget_tabs .nav-tabs .ui-tabs-active a, .widget_tabs #content .color.color-default-3 .nav-tabs .ui-tabs-active a,
#content .color.color-default-3 .widget_tabs .events-tabs .ui-tabs-active a,
.widget_tabs #content .color.color-default-3 .events-tabs .ui-tabs-active a, #content .color.color-default-3 .tabs_nav li:hover a[class*="color"], #content .color.color-default-3 .widget_tabs .nav-tabs li:hover a[class*="color"], .widget_tabs #content .color.color-default-3 .nav-tabs li:hover a[class*="color"],
#content .color.color-default-3 .widget_tabs .events-tabs li:hover a[class*="color"],
.widget_tabs #content .color.color-default-3 .events-tabs li:hover a[class*="color"] {
  background: #eeeeee;
  color: #fff;
}
/* line 84, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .widget.events .tab-content, #content .color.color-default-3 .panels-container .events.media .tab-content, .panels-container #content .color.color-default-3 .events.media .tab-content, #content .color.color-default-3 .leaflet-popup-content .events.media .tab-content, .leaflet-popup-content #content .color.color-default-3 .events.media .tab-content {
  border-color: #006598;
}
/* line 88, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .widget.events .widget_title, #content .color.color-default-3 .panels-container .events.media .widget_title, .panels-container #content .color.color-default-3 .events.media .widget_title, #content .color.color-default-3 .leaflet-popup-content .events.media .widget_title, .leaflet-popup-content #content .color.color-default-3 .events.media .widget_title {
  background: #006598;
}
/* line 90, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .widget.events .widget_title h3, #content .color.color-default-3 .panels-container .events.media .widget_title h3, .panels-container #content .color.color-default-3 .events.media .widget_title h3, #content .color.color-default-3 .leaflet-popup-content .events.media .widget_title h3, .leaflet-popup-content #content .color.color-default-3 .events.media .widget_title h3 {
  background: #006598;
  color: #ffffff;
}
/* line 94, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .widget.events .widget_title a .fa, #content .color.color-default-3 .panels-container .events.media .widget_title a .fa, .panels-container #content .color.color-default-3 .events.media .widget_title a .fa, #content .color.color-default-3 .leaflet-popup-content .events.media .widget_title a .fa, .leaflet-popup-content #content .color.color-default-3 .events.media .widget_title a .fa {
  color: #ffffff;
}
/* line 101, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .widget.events .events-tabs li a, #content .color.color-default-3 .panels-container .events.media .events-tabs li a, .panels-container #content .color.color-default-3 .events.media .events-tabs li a, #content .color.color-default-3 .leaflet-popup-content .events.media .events-tabs li a, .leaflet-popup-content #content .color.color-default-3 .events.media .events-tabs li a {
  background: #006598;
  color: #ffffff;
  opacity: 0.5;
}
/* line 107, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .widget.events .events-tabs li.active a, #content .color.color-default-3 .panels-container .events.media .events-tabs li.active a, .panels-container #content .color.color-default-3 .events.media .events-tabs li.active a, #content .color.color-default-3 .leaflet-popup-content .events.media .events-tabs li.active a, .leaflet-popup-content #content .color.color-default-3 .events.media .events-tabs li.active a,
#content .color.color-default-3 .widget.events .events-tabs li a:hover,
#content .color.color-default-3 .panels-container .events.media .events-tabs li a:hover,
.panels-container #content .color.color-default-3 .events.media .events-tabs li a:hover,
#content .color.color-default-3 .leaflet-popup-content .events.media .events-tabs li a:hover,
.leaflet-popup-content #content .color.color-default-3 .events.media .events-tabs li a:hover {
  opacity: 1;
}
/* line 116, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .events .calendar-date .month {
  background-color: #006598;
  color: #ffffff;
}
/* line 120, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .events .calendar-date .day {
  border-color: #006598;
}
/* line 125, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .lista_accordion_manual .panel-group .panel-default .panel-heading .panel-title a i,
#content .color.color-default-3 .lista_accordion .panel-group .panel-default .panel-heading .panel-title a i {
  color: #006598;
}
/* line 133, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .panel-label {
  background: #006598;
  color: #ffffff;
}
/* line 138, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .media-panel figure {
  border-bottom-color: #006598;
}
/* line 142, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .panel-story {
  color: #006598;
}
/* line 144, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .panel-story a {
  color: #006598;
}
/* line 152, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .widget_tabs .tab-content,
#content .color.color-default-3 .widget.events .tab-content,
#content .color.color-default-3 .panels-container .events.media .tab-content,
.panels-container #content .color.color-default-3 .events.media .tab-content,
#content .color.color-default-3 .leaflet-popup-content .events.media .tab-content,
.leaflet-popup-content #content .color.color-default-3 .events.media .tab-content {
  border-color: #006598;
}
/* line 156, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .widget_tabs h2,
#content .color.color-default-3 .widget.events h2,
#content .color.color-default-3 .panels-container .events.media h2,
.panels-container #content .color.color-default-3 .events.media h2,
#content .color.color-default-3 .leaflet-popup-content .events.media h2,
.leaflet-popup-content #content .color.color-default-3 .events.media h2 {
  background: #006598;
  color: #ffffff;
}
/* line 163, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .widget_tabs .nav-tabs li a,
#content .color.color-default-3 .widget.events .nav-tabs li a,
#content .color.color-default-3 .panels-container .events.media .nav-tabs li a,
.panels-container #content .color.color-default-3 .events.media .nav-tabs li a,
#content .color.color-default-3 .leaflet-popup-content .events.media .nav-tabs li a,
.leaflet-popup-content #content .color.color-default-3 .events.media .nav-tabs li a {
  background-color: #006598;
  color: #ffffff;
  opacity: 0.5;
}
/* line 168, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .widget_tabs .nav-tabs li a:hover,
#content .color.color-default-3 .widget.events .nav-tabs li a:hover,
#content .color.color-default-3 .panels-container .events.media .nav-tabs li a:hover,
.panels-container #content .color.color-default-3 .events.media .nav-tabs li a:hover,
#content .color.color-default-3 .leaflet-popup-content .events.media .nav-tabs li a:hover,
.leaflet-popup-content #content .color.color-default-3 .events.media .nav-tabs li a:hover {
  opacity: 1;
}
/* line 173, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-3 .widget_tabs .nav-tabs li.active a,
#content .color.color-default-3 .widget.events .nav-tabs li.active a,
#content .color.color-default-3 .panels-container .events.media .nav-tabs li.active a,
.panels-container #content .color.color-default-3 .events.media .nav-tabs li.active a,
#content .color.color-default-3 .leaflet-popup-content .events.media .nav-tabs li.active a,
.leaflet-popup-content #content .color.color-default-3 .events.media .nav-tabs li.active a {
  background-color: #006598;
  color: #ffffff;
  opacity: 1;
}
/* line 42, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 h3.widget_title,
#content .color.color-default-4 .widget_title h3 {
  background: #007780;
  color: #ffffff;
}
/* line 47, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 h3.widget_title a,
#content .color.color-default-4 .widget_title h3 a {
  color: #ffffff;
}
/* line 53, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .owl-controls .owl-buttons .owl-next, #content .color.color-default-4 .owl-controls .owl-buttons .owl-prev {
  background: #007780;
  color: #ffffff;
}
/* line 60, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .carousel-caption {
  color: #fff;
}
/* line 62, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .carousel-caption h3 {
  background: #007780;
  color: #ffffff;
}
/* line 65, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .carousel-caption h3 a {
  color: #ffffff;
}
/* line 72, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .carousel-both-control .owl-pagination.active {
  background: #007780 !important;
}
/* line 78, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .tabs_nav .ui-tabs-active a, #content .color.color-default-4 .widget_tabs .nav-tabs .ui-tabs-active a, .widget_tabs #content .color.color-default-4 .nav-tabs .ui-tabs-active a,
#content .color.color-default-4 .widget_tabs .events-tabs .ui-tabs-active a,
.widget_tabs #content .color.color-default-4 .events-tabs .ui-tabs-active a, #content .color.color-default-4 .tabs_nav li:hover a[class*="color"], #content .color.color-default-4 .widget_tabs .nav-tabs li:hover a[class*="color"], .widget_tabs #content .color.color-default-4 .nav-tabs li:hover a[class*="color"],
#content .color.color-default-4 .widget_tabs .events-tabs li:hover a[class*="color"],
.widget_tabs #content .color.color-default-4 .events-tabs li:hover a[class*="color"] {
  background: #eeeeee;
  color: #fff;
}
/* line 84, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .widget.events .tab-content, #content .color.color-default-4 .panels-container .events.media .tab-content, .panels-container #content .color.color-default-4 .events.media .tab-content, #content .color.color-default-4 .leaflet-popup-content .events.media .tab-content, .leaflet-popup-content #content .color.color-default-4 .events.media .tab-content {
  border-color: #007780;
}
/* line 88, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .widget.events .widget_title, #content .color.color-default-4 .panels-container .events.media .widget_title, .panels-container #content .color.color-default-4 .events.media .widget_title, #content .color.color-default-4 .leaflet-popup-content .events.media .widget_title, .leaflet-popup-content #content .color.color-default-4 .events.media .widget_title {
  background: #007780;
}
/* line 90, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .widget.events .widget_title h3, #content .color.color-default-4 .panels-container .events.media .widget_title h3, .panels-container #content .color.color-default-4 .events.media .widget_title h3, #content .color.color-default-4 .leaflet-popup-content .events.media .widget_title h3, .leaflet-popup-content #content .color.color-default-4 .events.media .widget_title h3 {
  background: #007780;
  color: #ffffff;
}
/* line 94, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .widget.events .widget_title a .fa, #content .color.color-default-4 .panels-container .events.media .widget_title a .fa, .panels-container #content .color.color-default-4 .events.media .widget_title a .fa, #content .color.color-default-4 .leaflet-popup-content .events.media .widget_title a .fa, .leaflet-popup-content #content .color.color-default-4 .events.media .widget_title a .fa {
  color: #ffffff;
}
/* line 101, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .widget.events .events-tabs li a, #content .color.color-default-4 .panels-container .events.media .events-tabs li a, .panels-container #content .color.color-default-4 .events.media .events-tabs li a, #content .color.color-default-4 .leaflet-popup-content .events.media .events-tabs li a, .leaflet-popup-content #content .color.color-default-4 .events.media .events-tabs li a {
  background: #007780;
  color: #ffffff;
  opacity: 0.5;
}
/* line 107, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .widget.events .events-tabs li.active a, #content .color.color-default-4 .panels-container .events.media .events-tabs li.active a, .panels-container #content .color.color-default-4 .events.media .events-tabs li.active a, #content .color.color-default-4 .leaflet-popup-content .events.media .events-tabs li.active a, .leaflet-popup-content #content .color.color-default-4 .events.media .events-tabs li.active a,
#content .color.color-default-4 .widget.events .events-tabs li a:hover,
#content .color.color-default-4 .panels-container .events.media .events-tabs li a:hover,
.panels-container #content .color.color-default-4 .events.media .events-tabs li a:hover,
#content .color.color-default-4 .leaflet-popup-content .events.media .events-tabs li a:hover,
.leaflet-popup-content #content .color.color-default-4 .events.media .events-tabs li a:hover {
  opacity: 1;
}
/* line 116, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .events .calendar-date .month {
  background-color: #007780;
  color: #ffffff;
}
/* line 120, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .events .calendar-date .day {
  border-color: #007780;
}
/* line 125, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .lista_accordion_manual .panel-group .panel-default .panel-heading .panel-title a i,
#content .color.color-default-4 .lista_accordion .panel-group .panel-default .panel-heading .panel-title a i {
  color: #007780;
}
/* line 133, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .panel-label {
  background: #007780;
  color: #ffffff;
}
/* line 138, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .media-panel figure {
  border-bottom-color: #007780;
}
/* line 142, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .panel-story {
  color: #007780;
}
/* line 144, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .panel-story a {
  color: #007780;
}
/* line 152, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .widget_tabs .tab-content,
#content .color.color-default-4 .widget.events .tab-content,
#content .color.color-default-4 .panels-container .events.media .tab-content,
.panels-container #content .color.color-default-4 .events.media .tab-content,
#content .color.color-default-4 .leaflet-popup-content .events.media .tab-content,
.leaflet-popup-content #content .color.color-default-4 .events.media .tab-content {
  border-color: #007780;
}
/* line 156, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .widget_tabs h2,
#content .color.color-default-4 .widget.events h2,
#content .color.color-default-4 .panels-container .events.media h2,
.panels-container #content .color.color-default-4 .events.media h2,
#content .color.color-default-4 .leaflet-popup-content .events.media h2,
.leaflet-popup-content #content .color.color-default-4 .events.media h2 {
  background: #007780;
  color: #ffffff;
}
/* line 163, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .widget_tabs .nav-tabs li a,
#content .color.color-default-4 .widget.events .nav-tabs li a,
#content .color.color-default-4 .panels-container .events.media .nav-tabs li a,
.panels-container #content .color.color-default-4 .events.media .nav-tabs li a,
#content .color.color-default-4 .leaflet-popup-content .events.media .nav-tabs li a,
.leaflet-popup-content #content .color.color-default-4 .events.media .nav-tabs li a {
  background-color: #007780;
  color: #ffffff;
  opacity: 0.5;
}
/* line 168, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .widget_tabs .nav-tabs li a:hover,
#content .color.color-default-4 .widget.events .nav-tabs li a:hover,
#content .color.color-default-4 .panels-container .events.media .nav-tabs li a:hover,
.panels-container #content .color.color-default-4 .events.media .nav-tabs li a:hover,
#content .color.color-default-4 .leaflet-popup-content .events.media .nav-tabs li a:hover,
.leaflet-popup-content #content .color.color-default-4 .events.media .nav-tabs li a:hover {
  opacity: 1;
}
/* line 173, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-4 .widget_tabs .nav-tabs li.active a,
#content .color.color-default-4 .widget.events .nav-tabs li.active a,
#content .color.color-default-4 .panels-container .events.media .nav-tabs li.active a,
.panels-container #content .color.color-default-4 .events.media .nav-tabs li.active a,
#content .color.color-default-4 .leaflet-popup-content .events.media .nav-tabs li.active a,
.leaflet-popup-content #content .color.color-default-4 .events.media .nav-tabs li.active a {
  background-color: #007780;
  color: #ffffff;
  opacity: 1;
}
/* line 42, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 h3.widget_title,
#content .color.color-default-5 .widget_title h3 {
  background: #5cb85c;
  color: #ffffff;
}
/* line 47, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 h3.widget_title a,
#content .color.color-default-5 .widget_title h3 a {
  color: #ffffff;
}
/* line 53, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .owl-controls .owl-buttons .owl-next, #content .color.color-default-5 .owl-controls .owl-buttons .owl-prev {
  background: #5cb85c;
  color: #ffffff;
}
/* line 60, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .carousel-caption {
  color: #fff;
}
/* line 62, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .carousel-caption h3 {
  background: #5cb85c;
  color: #ffffff;
}
/* line 65, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .carousel-caption h3 a {
  color: #ffffff;
}
/* line 72, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .carousel-both-control .owl-pagination.active {
  background: #5cb85c !important;
}
/* line 78, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .tabs_nav .ui-tabs-active a, #content .color.color-default-5 .widget_tabs .nav-tabs .ui-tabs-active a, .widget_tabs #content .color.color-default-5 .nav-tabs .ui-tabs-active a,
#content .color.color-default-5 .widget_tabs .events-tabs .ui-tabs-active a,
.widget_tabs #content .color.color-default-5 .events-tabs .ui-tabs-active a, #content .color.color-default-5 .tabs_nav li:hover a[class*="color"], #content .color.color-default-5 .widget_tabs .nav-tabs li:hover a[class*="color"], .widget_tabs #content .color.color-default-5 .nav-tabs li:hover a[class*="color"],
#content .color.color-default-5 .widget_tabs .events-tabs li:hover a[class*="color"],
.widget_tabs #content .color.color-default-5 .events-tabs li:hover a[class*="color"] {
  background: #eeeeee;
  color: #fff;
}
/* line 84, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .widget.events .tab-content, #content .color.color-default-5 .panels-container .events.media .tab-content, .panels-container #content .color.color-default-5 .events.media .tab-content, #content .color.color-default-5 .leaflet-popup-content .events.media .tab-content, .leaflet-popup-content #content .color.color-default-5 .events.media .tab-content {
  border-color: #5cb85c;
}
/* line 88, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .widget.events .widget_title, #content .color.color-default-5 .panels-container .events.media .widget_title, .panels-container #content .color.color-default-5 .events.media .widget_title, #content .color.color-default-5 .leaflet-popup-content .events.media .widget_title, .leaflet-popup-content #content .color.color-default-5 .events.media .widget_title {
  background: #5cb85c;
}
/* line 90, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .widget.events .widget_title h3, #content .color.color-default-5 .panels-container .events.media .widget_title h3, .panels-container #content .color.color-default-5 .events.media .widget_title h3, #content .color.color-default-5 .leaflet-popup-content .events.media .widget_title h3, .leaflet-popup-content #content .color.color-default-5 .events.media .widget_title h3 {
  background: #5cb85c;
  color: #ffffff;
}
/* line 94, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .widget.events .widget_title a .fa, #content .color.color-default-5 .panels-container .events.media .widget_title a .fa, .panels-container #content .color.color-default-5 .events.media .widget_title a .fa, #content .color.color-default-5 .leaflet-popup-content .events.media .widget_title a .fa, .leaflet-popup-content #content .color.color-default-5 .events.media .widget_title a .fa {
  color: #ffffff;
}
/* line 101, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .widget.events .events-tabs li a, #content .color.color-default-5 .panels-container .events.media .events-tabs li a, .panels-container #content .color.color-default-5 .events.media .events-tabs li a, #content .color.color-default-5 .leaflet-popup-content .events.media .events-tabs li a, .leaflet-popup-content #content .color.color-default-5 .events.media .events-tabs li a {
  background: #5cb85c;
  color: #ffffff;
  opacity: 0.5;
}
/* line 107, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .widget.events .events-tabs li.active a, #content .color.color-default-5 .panels-container .events.media .events-tabs li.active a, .panels-container #content .color.color-default-5 .events.media .events-tabs li.active a, #content .color.color-default-5 .leaflet-popup-content .events.media .events-tabs li.active a, .leaflet-popup-content #content .color.color-default-5 .events.media .events-tabs li.active a,
#content .color.color-default-5 .widget.events .events-tabs li a:hover,
#content .color.color-default-5 .panels-container .events.media .events-tabs li a:hover,
.panels-container #content .color.color-default-5 .events.media .events-tabs li a:hover,
#content .color.color-default-5 .leaflet-popup-content .events.media .events-tabs li a:hover,
.leaflet-popup-content #content .color.color-default-5 .events.media .events-tabs li a:hover {
  opacity: 1;
}
/* line 116, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .events .calendar-date .month {
  background-color: #5cb85c;
  color: #ffffff;
}
/* line 120, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .events .calendar-date .day {
  border-color: #5cb85c;
}
/* line 125, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .lista_accordion_manual .panel-group .panel-default .panel-heading .panel-title a i,
#content .color.color-default-5 .lista_accordion .panel-group .panel-default .panel-heading .panel-title a i {
  color: #5cb85c;
}
/* line 133, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .panel-label {
  background: #5cb85c;
  color: #ffffff;
}
/* line 138, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .media-panel figure {
  border-bottom-color: #5cb85c;
}
/* line 142, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .panel-story {
  color: #5cb85c;
}
/* line 144, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .panel-story a {
  color: #5cb85c;
}
/* line 152, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .widget_tabs .tab-content,
#content .color.color-default-5 .widget.events .tab-content,
#content .color.color-default-5 .panels-container .events.media .tab-content,
.panels-container #content .color.color-default-5 .events.media .tab-content,
#content .color.color-default-5 .leaflet-popup-content .events.media .tab-content,
.leaflet-popup-content #content .color.color-default-5 .events.media .tab-content {
  border-color: #5cb85c;
}
/* line 156, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .widget_tabs h2,
#content .color.color-default-5 .widget.events h2,
#content .color.color-default-5 .panels-container .events.media h2,
.panels-container #content .color.color-default-5 .events.media h2,
#content .color.color-default-5 .leaflet-popup-content .events.media h2,
.leaflet-popup-content #content .color.color-default-5 .events.media h2 {
  background: #5cb85c;
  color: #ffffff;
}
/* line 163, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .widget_tabs .nav-tabs li a,
#content .color.color-default-5 .widget.events .nav-tabs li a,
#content .color.color-default-5 .panels-container .events.media .nav-tabs li a,
.panels-container #content .color.color-default-5 .events.media .nav-tabs li a,
#content .color.color-default-5 .leaflet-popup-content .events.media .nav-tabs li a,
.leaflet-popup-content #content .color.color-default-5 .events.media .nav-tabs li a {
  background-color: #5cb85c;
  color: #ffffff;
  opacity: 0.5;
}
/* line 168, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .widget_tabs .nav-tabs li a:hover,
#content .color.color-default-5 .widget.events .nav-tabs li a:hover,
#content .color.color-default-5 .panels-container .events.media .nav-tabs li a:hover,
.panels-container #content .color.color-default-5 .events.media .nav-tabs li a:hover,
#content .color.color-default-5 .leaflet-popup-content .events.media .nav-tabs li a:hover,
.leaflet-popup-content #content .color.color-default-5 .events.media .nav-tabs li a:hover {
  opacity: 1;
}
/* line 173, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-5 .widget_tabs .nav-tabs li.active a,
#content .color.color-default-5 .widget.events .nav-tabs li.active a,
#content .color.color-default-5 .panels-container .events.media .nav-tabs li.active a,
.panels-container #content .color.color-default-5 .events.media .nav-tabs li.active a,
#content .color.color-default-5 .leaflet-popup-content .events.media .nav-tabs li.active a,
.leaflet-popup-content #content .color.color-default-5 .events.media .nav-tabs li.active a {
  background-color: #5cb85c;
  color: #ffffff;
  opacity: 1;
}
/* line 42, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 h3.widget_title,
#content .color.color-default-6 .widget_title h3 {
  background: "";
  color: "";
}
/* line 47, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 h3.widget_title a,
#content .color.color-default-6 .widget_title h3 a {
  color: "";
}
/* line 53, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .owl-controls .owl-buttons .owl-next, #content .color.color-default-6 .owl-controls .owl-buttons .owl-prev {
  background: "";
  color: "";
}
/* line 60, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .carousel-caption {
  color: "";
}
/* line 62, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .carousel-caption h3 {
  background: "";
  color: "";
}
/* line 65, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .carousel-caption h3 a {
  color: "";
}
/* line 72, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .carousel-both-control .owl-pagination.active {
  background: "" !important;
}
/* line 78, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .tabs_nav .ui-tabs-active a, #content .color.color-default-6 .widget_tabs .nav-tabs .ui-tabs-active a, .widget_tabs #content .color.color-default-6 .nav-tabs .ui-tabs-active a,
#content .color.color-default-6 .widget_tabs .events-tabs .ui-tabs-active a,
.widget_tabs #content .color.color-default-6 .events-tabs .ui-tabs-active a, #content .color.color-default-6 .tabs_nav li:hover a[class*="color"], #content .color.color-default-6 .widget_tabs .nav-tabs li:hover a[class*="color"], .widget_tabs #content .color.color-default-6 .nav-tabs li:hover a[class*="color"],
#content .color.color-default-6 .widget_tabs .events-tabs li:hover a[class*="color"],
.widget_tabs #content .color.color-default-6 .events-tabs li:hover a[class*="color"] {
  background: "";
  color: "";
}
/* line 84, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .widget.events .tab-content, #content .color.color-default-6 .panels-container .events.media .tab-content, .panels-container #content .color.color-default-6 .events.media .tab-content, #content .color.color-default-6 .leaflet-popup-content .events.media .tab-content, .leaflet-popup-content #content .color.color-default-6 .events.media .tab-content {
  border-color: "";
}
/* line 88, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .widget.events .widget_title, #content .color.color-default-6 .panels-container .events.media .widget_title, .panels-container #content .color.color-default-6 .events.media .widget_title, #content .color.color-default-6 .leaflet-popup-content .events.media .widget_title, .leaflet-popup-content #content .color.color-default-6 .events.media .widget_title {
  background: "";
}
/* line 90, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .widget.events .widget_title h3, #content .color.color-default-6 .panels-container .events.media .widget_title h3, .panels-container #content .color.color-default-6 .events.media .widget_title h3, #content .color.color-default-6 .leaflet-popup-content .events.media .widget_title h3, .leaflet-popup-content #content .color.color-default-6 .events.media .widget_title h3 {
  background: "";
  color: "";
}
/* line 94, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .widget.events .widget_title a .fa, #content .color.color-default-6 .panels-container .events.media .widget_title a .fa, .panels-container #content .color.color-default-6 .events.media .widget_title a .fa, #content .color.color-default-6 .leaflet-popup-content .events.media .widget_title a .fa, .leaflet-popup-content #content .color.color-default-6 .events.media .widget_title a .fa {
  color: "";
}
/* line 101, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .widget.events .events-tabs li a, #content .color.color-default-6 .panels-container .events.media .events-tabs li a, .panels-container #content .color.color-default-6 .events.media .events-tabs li a, #content .color.color-default-6 .leaflet-popup-content .events.media .events-tabs li a, .leaflet-popup-content #content .color.color-default-6 .events.media .events-tabs li a {
  background: "";
  color: "";
  opacity: 0.5;
}
/* line 107, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .widget.events .events-tabs li.active a, #content .color.color-default-6 .panels-container .events.media .events-tabs li.active a, .panels-container #content .color.color-default-6 .events.media .events-tabs li.active a, #content .color.color-default-6 .leaflet-popup-content .events.media .events-tabs li.active a, .leaflet-popup-content #content .color.color-default-6 .events.media .events-tabs li.active a,
#content .color.color-default-6 .widget.events .events-tabs li a:hover,
#content .color.color-default-6 .panels-container .events.media .events-tabs li a:hover,
.panels-container #content .color.color-default-6 .events.media .events-tabs li a:hover,
#content .color.color-default-6 .leaflet-popup-content .events.media .events-tabs li a:hover,
.leaflet-popup-content #content .color.color-default-6 .events.media .events-tabs li a:hover {
  opacity: 1;
}
/* line 116, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .events .calendar-date .month {
  background-color: "";
  color: "";
}
/* line 120, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .events .calendar-date .day {
  border-color: "";
}
/* line 125, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .lista_accordion_manual .panel-group .panel-default .panel-heading .panel-title a i,
#content .color.color-default-6 .lista_accordion .panel-group .panel-default .panel-heading .panel-title a i {
  color: "";
}
/* line 133, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .panel-label {
  background: "";
  color: "";
}
/* line 138, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .media-panel figure {
  border-bottom-color: "";
}
/* line 142, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .panel-story {
  color: "";
}
/* line 144, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .panel-story a {
  color: "";
}
/* line 152, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .widget_tabs .tab-content,
#content .color.color-default-6 .widget.events .tab-content,
#content .color.color-default-6 .panels-container .events.media .tab-content,
.panels-container #content .color.color-default-6 .events.media .tab-content,
#content .color.color-default-6 .leaflet-popup-content .events.media .tab-content,
.leaflet-popup-content #content .color.color-default-6 .events.media .tab-content {
  border-color: "";
}
/* line 156, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .widget_tabs h2,
#content .color.color-default-6 .widget.events h2,
#content .color.color-default-6 .panels-container .events.media h2,
.panels-container #content .color.color-default-6 .events.media h2,
#content .color.color-default-6 .leaflet-popup-content .events.media h2,
.leaflet-popup-content #content .color.color-default-6 .events.media h2 {
  background: "";
  color: "";
}
/* line 163, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .widget_tabs .nav-tabs li a,
#content .color.color-default-6 .widget.events .nav-tabs li a,
#content .color.color-default-6 .panels-container .events.media .nav-tabs li a,
.panels-container #content .color.color-default-6 .events.media .nav-tabs li a,
#content .color.color-default-6 .leaflet-popup-content .events.media .nav-tabs li a,
.leaflet-popup-content #content .color.color-default-6 .events.media .nav-tabs li a {
  background-color: "";
  color: "";
  opacity: 0.5;
}
/* line 168, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .widget_tabs .nav-tabs li a:hover,
#content .color.color-default-6 .widget.events .nav-tabs li a:hover,
#content .color.color-default-6 .panels-container .events.media .nav-tabs li a:hover,
.panels-container #content .color.color-default-6 .events.media .nav-tabs li a:hover,
#content .color.color-default-6 .leaflet-popup-content .events.media .nav-tabs li a:hover,
.leaflet-popup-content #content .color.color-default-6 .events.media .nav-tabs li a:hover {
  opacity: 1;
}
/* line 173, ../scss/solid/_colors_mixin.scss */
#content .color.color-default-6 .widget_tabs .nav-tabs li.active a,
#content .color.color-default-6 .widget.events .nav-tabs li.active a,
#content .color.color-default-6 .panels-container .events.media .nav-tabs li.active a,
.panels-container #content .color.color-default-6 .events.media .nav-tabs li.active a,
#content .color.color-default-6 .leaflet-popup-content .events.media .nav-tabs li.active a,
.leaflet-popup-content #content .color.color-default-6 .events.media .nav-tabs li.active a {
  background-color: "";
  color: "";
  opacity: 1;
}

/* line 2, ../scss/solid/_editors.scss */
.content-main h1.title_editor,
.content-main h2.title_editor,
.content-main h3.title_editor,
.content-main h4.title_editor,
.content-main h5.title_editor,
.content-main h6.title_editor {
  background-color: transparent !important;
  color: #333333 !important;
  padding: 0.5em 0;
}
/* line 13, ../scss/solid/_editors.scss */
.content-main h1.title_editor {
  font-size: 27px;
}
/* line 17, ../scss/solid/_editors.scss */
.content-main h2.title_editor {
  font-size: 24px;
}
/* line 21, ../scss/solid/_editors.scss */
.content-main h3.title_editor {
  font-size: 21px;
}
/* line 25, ../scss/solid/_editors.scss */
.content-main h4.title_editor {
  font-size: 18px;
}
/* line 29, ../scss/solid/_editors.scss */
.content-main h5.title_editor {
  font-size: 15px;
}
/* line 33, ../scss/solid/_editors.scss */
.content-main h6.title_editor {
  font-size: 12px;
}

/* line 3, ../scss/solid/_table-calendar.scss */
.calendar-tools .table-calendar ul {
  margin: 1em 0.2em 0.5em;
}
/* line 5, ../scss/solid/_table-calendar.scss */
.calendar-tools .table-calendar ul li a {
  font-size: 1em;
  color: #286090;
}
/* line 11, ../scss/solid/_table-calendar.scss */
.calendar-tools .table-calendar td .day {
  float: none;
}
/* line 18, ../scss/solid/_table-calendar.scss */
.calendar-tools .calendar-date .media {
  background-color: #eeeeee;
}

/*!
 * Agid 
 * Linee Guida
 */
/*! 
 * Google Font Titillium
 */
/*! 
 * Font Awesome
 */
/*!  
 * Bootstrap
 */
/*! 
 * Bootstrap Customization
 
@import "custom";*/
