@import url(http://fonts.googleapis.com/css?family=Roboto:300,700,500,300italic);

body{
  font:300 14px/21px 'Roboto', 'sans-serif';
  color:#696e6e;
  background:#232830;
  letter-spacing: 0.1px;
  overflow-x: hidden;
  -webkit-backface-visibility:hidden;
  background-attachment:fixed;
}

#page{
  @extend .wide_layout;
  @extend .relative;
  @extend .w_xs_auto;
  background:#fafbfb;
}

#header{

  p, ul{
    @extend .reset;
  }

  border-top-width: 3px;
  border-top-style: solid;
  width: inherit;

  .header-top{

    padding: 4px 0;
    border-bottom: 1px solid $gray-lighter;

    a{
      @extend .default_t_color;
    }

    ul{
      @extend .reset_ul;
      @extend .d_inline_b;
      @extend .horizontal_list;
      @extend .clearfix;
      @extend .f_size_small;
      @extend .users_nav;
    }

    .header-top-left{
      @extend .col-lg-4;
      @extend .col-md-4;
      @extend .col-sm-3;
      @extend .t_xs_align_c;
      p{
        @extend .f_size_small;
      }
    }

    .header-top-center{
      @extend .col-lg-4;
      @extend .col-md-4;
      @extend .col-sm-6;
      @extend .t_align_c;
      @extend .t_xs_align_c;
    }

    .header-top-right{
      @extend .col-lg-4;
      @extend .col-md-4;
      @extend .col-sm-3;
      @extend .t_align_r;
      @extend .t_xs_align_c;
    }
  }

  .header-bottom{
    padding-top: 29px;
    padding-bottom: 27px;

    .header-logo{
      @extend .col-lg-6;
      @extend .col-md-6;
      @extend .col-sm-4;
      @extend .t_xs_align_c;
      a{
        @extend .m_left_20;
        @extend .m_xs_left_0;
        @extend .m_xs_bottom_15;
        @extend .d_xs_inline_b;
      }
    }

    .header-searchbox{
      @extend .col-lg-6;
      @extend .col-md-6;
      @extend .col-sm-8;
      @extend .m_top_20;
      > .row{
        @extend .m_top_20;
      }
      .info{
        @extend .col-lg-6;
        @extend .col-md-6;
        @extend .col-sm-6;
        @extend .t_align_r;
        @extend .t_xs_align_c;
        @extend .m_xs_bottom_15;
        dl{
          @extend .l_height_medium;
          dd{
            @extend .f_size_ex_large;
            @extend .color_dark;
            line-height: 1.2;
            a{
              @extend .color_dark;
            }
          }
        }
      }
      .search{
        @extend .col-lg-6;
        @extend .col-md-6;
        @extend .col-sm-6;
        &.no-info{
          @extend .col-lg-offset-6;
          @extend .col-md-offset-6;
          @extend .col-sm-offset-6;
        }
        form{
          @extend .relative;
          input{
            @extend .r_corners;
            @extend .f_size_medium;
            @extend .full_width;
          }
          button{
            @extend .f_right;
            @extend .search_button;
            @extend .tr_all_hover;
            @extend .f_xs_none;
          }
        }
      }
    }

  }
}

#navigation nav{
  @extend .f_xs_none;
  @extend .d_xs_none;
  @extend .t_xs_align_l;
}

.menu_wrap{
  @extend .relative;
  @extend .clearfix;
  @extend .t_xs_align_c;
  @extend .m_bottom_20;

  z-index: 189;
  width: auto;
  background: $brand-secondary;

  &.sticky {
    position: fixed;
    top: 0;
  }

  *{
    @extend .reset;
  }

  ul{
    @extend .reset_ul;
  }

  > li {
    z-index: 101;
  }

  .main_menu > li > a {
    display: block;
    padding: 20px 30px;
    text-decoration: none !important;
  }

  .main_menu > li:hover > .sub_menu_wrap{
    -webkit-transform:translateY(0px);
    -moz-transform:translateY(0px);
    -o-transform:translateY(0px);
    -ms-transform:translateY(0px);
    transform:translateY(0px);
    opacity:1;
    visibility: visible;
  }

  .main_menu > li:hover > a, .main_menu > li.current > a{
    background:$brand-primary;
  }

  li.menu-item{
    @extend .relative;
    @extend .f_xs_none;
    @extend .m_xs_bottom_5;
    > a{
      @extend .tr_delay_hover;
      @extend .color_light;
      @extend .tt_uppercase;
    }
    &.extra-menu-item{
      @extend .f_right;
      margin: 10px;
      a{
        padding: 10px 20px;
        border-radius: $border-radius-base;
        background: $extra-menu-bg;
      }
    }
  }
}

.btn-extra-menu {
  @include button-variant($extra-menu-color, $extra-menu-bg, $extra-menu-border);
}

.sub_menu_wrap {
  @extend .d_xs_none;
  @extend .tr_all_hover;
  @extend .clearfix;
  @extend .r_corners;
  position: absolute;
  left: 0;
  width: 200px;
  &.items-2{
    width: 400px;
  }
  &.items-3{
    width: 600px;
  }
  &.items-4{
    width: 800px;
  }
  &.items-5{
    width: 1000px;
  }
  @extend .w_xs_auto;
  padding: 0;
  background: #fff;
  border-top-width: 3px;
  border-top-style: solid;
  border-color:$brand-primary;
  margin-top: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(35px);
  -moz-transform: translateY(35px);
  -o-transform: translateY(35px);
  -ms-transform: translateY(35px);
  transform: translateY(35px);
  opacity: 0;
  visibility: hidden;
  &:after {
    content: "";
    width: 100%;
    height: 10px;
    display: block;
    position: absolute;
    left: 0;
    top: -13px;
  }
  &:before {
    left: 16px;
    border-bottom-color:$brand-primary;
    content:"";
    width:0;
    height:0;
    border-left:7px solid transparent;
    border-bottom-width:8px;
    border-bottom-style:solid;
    border-right:7px solid transparent;
    position:absolute;
    top:-8px;
    right:16px;
  }

  ul.sub_menu{
    margin: 10px 0;
    li a {
      @extend .color_dark;
      @extend .tr_delay_hover;
      display: block;
      padding: 7.7px 20px;
    }
  }

  .sub_menu-item{
    margin: 10px 0;
    width: 200px;
    @extend .w_xs_auto;
    @extend .f_left;
    @extend .f_xs_none;
//    &:not(.first){
//      @extend .m_left_10;
//      @extend .m_xs_left_0;
//    }
  }
}

#menu_button{
  @extend .centered_db;
  @extend .d_none;
  @extend .tr_all_hover;
  @extend .d_xs_block;
  @extend .m_bottom_15;
  background:$brand-primary;
  padding:7px 10px;
  width:60px;
  > span{
    display:block;
    height:3px;
    background:#fff;
    margin:6px 0;
  }
  &:hover,&.active{
    background:#34495e;
    color:#fff;
  }
}

#footer{
  color:#bdc3c7;
  padding:0;
  background: $brand-secondary;
  @extend .m_top_20;
  a{
    color: #FFFFFF;
  }
  .footer_top_part{
    padding-bottom:37px;
  }

  .footer_bottom_part{
    background:#292f38;
    padding:24px 0 22px;
    color:#696e6e;
  }
}

.side_menu{
  @extend .reset;
  @extend .reset_ul;
  margin-top:-7px;
  ul{
    @extend .reset_ul;
    margin: 0;
    padding: 0;
  }

  .active > a > span:after{
    opacity:1;
  }
  .active > a > span:before,
  a > span:after{
    opacity:0;
  }

  > li:last-child > a{
    border:none;
    padding-bottom:0px;
  }

  > li > a, ul.submenu-level-1 > li > a{
    @extend .f_size_large;
  }

  a{
    @extend .d_block;
    @extend .relative;
    padding:7px 25px 7px 0;
    border-bottom:1px solid #ecf0f1;
    word-break:normal;
  }

  ul > li > a{
    padding-left:20px;
  }

  ul ul > li > a{
    padding-left:40px;
  }

  a > span{
    display:block;
    width:23px;
    height:23px;
    line-height: 23px;
    position:absolute;
    right:0;
    top:50%;
    margin-top:-11.5px;
  }

  a > span:before,
  a > span:after{
    content:"";
    width:9px;
    height:9px;
    background:url("../images/plusminus.png") no-repeat;
    position: absolute;
    display:block;
    top:50%;
    left:50%;
    margin:-5px 0 0 -4px;
    -webkit-transition:opacity .4s ease;
    -moz-transition:opacity .4s ease;
    -o-transition:opacity .4s ease;
    transition:opacity .4s ease;
  }

  a > span:after{
    height:1px;
    width:8px;
    background-position: 0 -9px;
    margin:-1px 0 0 -4px;
  }

  li:not(.active) .submenu{
    display: none;
  }

}

@media only screen and (-webkit-min-device-pixel-ratio:0){
  .side_menu a > span:before,
  .side_menu a > span:after{
    margin-left:-5px;
  }
}