.content-title{
  @extend .col-md-12;
  @extend .m_bottom_20;
}

.nav-section,
.nav-facets{
  @extend .col-md-3;
}

.content-main{
  @extend .col-md-9;
  &.wide{
    @extend .col-md-12;
  }
  .full-stack &{
    @extend .col-md-6;
  }
}

.content-related{
  @extend .col-md-3;
}



.figure{
    @extend .text-center;
    img{
        @extend .center-block;    
    }
    margin: 1em 0;
}

.social-buttons{
    margin: 1em 0;
}

.nav-main .dropdown-toggle i{
    margin: 2px 0 0 4px;
}

.login-menu {
    background-color: #fff;
    width: 270px;
    z-index: 1001;
    padding: 10px;
}