<?php /* #?ini charset="utf-8"?

[ExtensionSettings]
ActiveAccessExtensions[]=openpa_theme_2014
ActiveAccessExtensions[]=ocbootstrap
ActiveAccessExtensions[]=ocoperatorscollection

[DatabaseSettings]
DatabaseImplementation=ezpostgresql
Server=localhost
Port=5432
User=postgres
Password=postgres
Database=ez45_openpa_innovazioneconsorzio
Charset=
Socket=disabled
SQLOutput=disabled

[InformationCollectionSettings]
EmailReceiver=webmaster@opencontent.it

[Session]
SessionNamePerSiteAccess=disabled

[SiteSettings]
SiteName=Consorzio dei Comuni Trentini
SiteURL=www.comunitrentini.tn.it/
IndexPage=/content/view/full/2
DefaultPage=/content/view/full/2
LoginPage=embedded
AdditionalLoginFormActionURL=http://consorzio.opencontent.it/backend/user/login

[UserSettings]
RegistrationEmail=

[SiteAccessSettings]
RequireUserLogin=false
RelatedSiteAccessList[]
RelatedSiteAccessList[]=consorzio_frontend
RelatedSiteAccessList[]=consorzio_debug
RelatedSiteAccessList[]=consorzio_backend
ShowHiddenNodes=false

[DesignSettings]
SiteDesign=openpa_flat
AdditionalSiteDesignList[]
AdditionalSiteDesignList[]=ocbootstrap
AdditionalSiteDesignList[]=standard

[RegionalSettings]
Locale=ita-IT
ContentObjectLocale=ita-IT
ShowUntranslatedObjects=disabled
SiteLanguageList[]
SiteLanguageList[]=ita-IT
TextTranslation=enabled
TranslationSA[ita]=Ita

[FileSettings]
VarDir=var/consorzio_innovazione

[MailSettings]
AdminEmail=webmaster@opencontent.it
EmailSender=OpenPA

[ContentSettings]
TranslationList=
ViewCaching=disabled

[DebugSettings]
DebugOutput=enabled
DebugRedirection=disabled
AlwaysLog[]=warning
AlwaysLog[]=debug
AlwaysLog[]=notice
AlwaysLog[]=strict
AlwaysLog[]=warning
AlwaysLog[]=debug
AlwaysLog[]=notice
AlwaysLog[]=strict

[TemplateSettings]
DevelopmentMode=enabled
ShowUsedTemplate=enabled
Debug=disabled
ShowXHTMLCode=disabled
TemplateCache=disabled
TemplateCompile=disabled
ShowUsedTemplates=enabled

[OverrideSettings]
Cache=disabled
*/ ?>