
ul.org-chart li,
ul.org-chart ul li {
  list-style: none;
  text-indent: 0;
}

ul.org-chart li:before {
  content: ""
}

ul.org-chart ul,
ul.org-chart ul ul {
  margin: 0;
  padding: 0;
}

ul.org-chart li {
  margin-bottom: 20px;
}

ul.org-chart ul li {
  padding: 10px 0 10px 50px;
  margin: 0 0 0 50px;
}

ul.org-chart li div.vcard {
  padding: 5px;
  margin: 0;
  min-height: 50px;
  background: #fff;
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  a {
    color: #000;
    text-decoration: none;
  }
}

ul.org-chart ul li {
  background: url("../images/org-tree-mid.gif") no-repeat left -15px;
}

ul.org-chart ul li:last-child {
  background: url("../images/org-tree-last.gif") no-repeat left -15px;
}